.post_form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.main_form{
    display: flex;
    left: 70%;   
}
.post_header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
   
}
.schedule{
    display: flex;
    font-size: 12px;
}
.schedule input{
    width: 60%;
}

