.post_content{
    display: flex;
    justify-content: center;
    border-bottom: 1px dashed black;
    
}

.id{
    width: 15%;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.name{
    width: 30%;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.gender{
    width: 20%;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.birthDate{
    width: 20%;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.actions{
    width: 15%;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
