.modal {
    height: 100%;
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 1000;
}

.modal_active{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: all;
    z-index: 1000;
}
.e_modal_active{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: all;
    z-index: 1000;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 400px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.head{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: #666666;
}
table{
    font-size: 14px;
}