.main_info_panel{
    height: 586px;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 16px;
    padding-top: 25px;
    width: 80%;
}
.header{
    font-size: 24px;
    color: #202020;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 448px;
}
.info_elem{
    font-size: 20px;
    color: #666666;
}