.table_header{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 21px;
    align-items: center;
    height: 64px;
    
}
.scroll_table{
    width: 100%;
    overflow-x: auto;
    table-layout: fixed;
}
.scroll_table_body{
    display: block;
    height: 586px;
    overflow-x: auto;
    position: sticky;
    font-size: 16px;
}
::-webkit-scrollbar {
	width: 6px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.id{
    height: 100%;
    width: 15%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.gender{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.birthDate{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    height: 100%;
}
.table_header td{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

